/node_modules
/vendor
.env
.phpunit.result.cache
/storage/*.key
/public/storage
composer.lock
yarn.lock
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Homestead.json
Homestead.yaml
*.sql
*.zip
*.tar
*.gz